<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.app.APLogSetting"
          android:sharedUserId="android.uid.system">
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

<application
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity
            android:name=".UserLogSetting"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name="UserLogReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
                <data android:scheme="android_secret_code"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>

