
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byd.runin"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system" >

    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    <activity
        android:name=".RuninTestMainActivity">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
    </activity>
    <activity
        android:name=".SpkReceiverPlay">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>
    </activity>
    <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
    <activity android:name=".AutoTestActivity" android:screenOrientation="portrait"/>

    <activity android:name=".reboot.RebootActivity" android:screenOrientation="portrait" />
    <activity android:name=".cpu.CpuActivity" android:screenOrientation="portrait" />
    <activity android:name=".emmc.EmmcActivity" android:screenOrientation="portrait" />
    <activity android:name=".memory.MemoryActivity" android:screenOrientation="portrait" />
    <activity android:name=".s3.S3Activity" android:screenOrientation="portrait" />
    <activity android:name=".audio.AudioActivity" android:screenOrientation="portrait" />
    <activity android:name=".video.VideoActivity" android:screenOrientation="landscape" />
    <activity android:name=".lcd.LcdActivity" android:screenOrientation="portrait" />
    <activity android:name="._2d._2dActivity" android:screenOrientation="portrait" />
    <activity android:name="._3d._3dActivity" android:screenOrientation="landscape" />
    <activity android:name=".camera.CameraActivity" android:screenOrientation="portrait" />
    <activity android:name=".receiver.ReceiverActivity" android:screenOrientation="portrait" />
    <activity android:name=".vibrator.VibratorActivity" android:screenOrientation="portrait" >
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <category android:name="android.intent.category.DEFAULT" />
    </intent-filter>

    </activity>
    <activity android:name=".mic.MicActivity" android:screenOrientation="portrait" />
    <activity android:name=".speaker.SpeakerActivity" android:screenOrientation="portrait" />
    <activity android:name=".front_camera.FrontCameraActivity" android:screenOrientation="portrait" />
    <activity android:name=".battery.BatteryActivity" android:screenOrientation="portrait" />
    <activity android:name=".AutoTimeStatistics" android:screenOrientation="portrait" />

    <receiver android:name = ".s3.S3Receiver">
    </receiver>

    <receiver android:name = ".camera.CameraReceiver">
        <intent-filter>
            <action android:name="com.byd.runin.camera.CAMERA_ON" />
        </intent-filter>
    </receiver>

    <receiver android:name = ".front_camera.FrontCameraReceiver">
        <intent-filter>
            <action android:name="com.byd.runin.front_camera.CAMERA_ON" />
        </intent-filter>
    </receiver>

    <receiver android:name=".TestReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
    </receiver>
    <receiver android:name=".RunInReceiver">
        <intent-filter>
            <action android:name="android.provider.Telephony.SECRET_CODE" />
            <data android:scheme="android_secret_code" android:host="78646" />
        </intent-filter>
    </receiver>
    <activity android:name=".BootCompleteActivity" android:excludeFromRecents="true">
    </activity>
    <activity android:name=".TestResultActivity"
        android:label="@string/test_result_title"
        android:excludeFromRecents="true">
    </activity>

    <service android:name=".battery.BatteryInfoService"/>

    <service android:name=".cpu.CpuInfoService"/>

    </application>

</manifest>